<div class="cardTask">
    <div class="divButtons">
        <button class="button editarbtn"><fa-icon [icon]="faPen"></fa-icon></button>
        <button class="button excluirbtn"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
    
    <div>
        <h2>teste</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, voluptates esse. Labore rerum numquam possimus esse assumenda minus hic, et aperiam, quo quaerat officiis. Quis iste eveniet earum. Distinctio, perferendis!</p>
    </div>
</div>