<aside class="sidebar">

    <nav>
        <ul>
            <li>
                <fa-icon [icon]="faBarsProgress"></fa-icon> Tarefas
            </li>
        </ul>
        <ul>
            <li><a href="#"><fa-icon [icon]="faChartLine"></fa-icon> Dashboard</a></li>
            <li><a href="#"><fa-icon [icon]="faTableColumns"></fa-icon> Board</a></li>
            <li><a href="#"><fa-icon [icon]="faDatabase"></fa-icon> Analytics</a></li>
            <li><a href="#"><fa-icon [icon]="faGear"></fa-icon> Setings</a></li>
        </ul>
    </nav>
</aside>