<aside class="sidebar">

    <nav>
        <ul>
            <li>
                <a href="#"><fa-icon [icon]="faBarsProgress"></fa-icon> Tarefas</a>
            </li>
        </ul>
        <ul>
            <li><a href="#" (click)="alterarPage('Dashboard')"><fa-icon [icon]="faChartLine" ></fa-icon> Dashboard</a></li>
            <li><a href="#" (click)="alterarPage('Board')"><fa-icon [icon]="faTableColumns" ></fa-icon> Board</a></li>
            <li><a href="#" (click)="alterarPage('Analytics')"><fa-icon [icon]="faDatabase"></fa-icon> Analytics</a></li>
            <li><a href="#" (click)="alterarPage('Settings')"><fa-icon [icon]="faGear"></fa-icon> Settings</a></li>
        </ul>
    </nav>
</aside>