<section class="layout">
  <app-menu-lateral></app-menu-lateral>
    <main class="content">
      <nav>
        <ul>
          <li><fa-icon [icon]="faSearch" style="padding-right:5px"></fa-icon><input type="text"></li>
          <li><fa-icon [icon]="faBook"></fa-icon></li>
        </ul>
      </nav>
      <div class="div-grid-lista">
        <app-task-list-component class="elemento-lista" ></app-task-list-component>
        
      </div>
    </main>
  
  
  
</section>

<footer>

</footer>
<router-outlet></router-outlet>