<nav>
  <ul>
    <li><fa-icon [icon]="faBook"></fa-icon> Tarefas</li>
    <li (click)="blocoAdicionarTarefa = true">Nova tarefa</li>
  </ul>
</nav>

<section>
  <div class="div-adicionar-tarefa" *ngIf="blocoAdicionarTarefa">
    <input type="text" class="input" placeholder="Nome">
    <input type="text" class="input" placeholder="Descrição">
    <input type="date" class="input">
    <button class="button adicionarBtn" (click)="adicionar()">Adicionar</button>
  </div>
  <div class="div-grid-lista">
    <app-task-list-component class="elemento-lista" ></app-task-list-component>
  </div>

</section>

<footer>

</footer>
<router-outlet></router-outlet>