<section class="layout">
    <aside class="sidebar">
      <nav>
          <ul>
              <li>
                  <a ><fa-icon [icon]="faBarsProgress"></fa-icon> Tarefas</a>
              </li>
          </ul>
          <ul>
              <li class="itemLista"><a><fa-icon [icon]="faChartLine" ></fa-icon> Dashboard</a></li>
              <li class="itemLista"><a><fa-icon [icon]="faTableColumns" ></fa-icon> Board</a></li>
              <li class="itemLista"><a><fa-icon [icon]="faDatabase"></fa-icon> Analytics</a></li>
              <li class="itemLista"><a><fa-icon [icon]="faGear"></fa-icon> Settings</a></li>
          </ul>
      </nav>
  </aside>
      <main class="content">
        
      </main>
  </section>
  
  <footer>
  
  </footer>