nav{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding-left: 10px;
        li{
            input{
                border: 1px solid;
                padding: 15px;
                border-radius: 20px;
                width: 70%;
                color: #242424;
                border-color: #242424;
                font-size:15px ;
            }
            fa-icon{
                color:#686868;
                font-size: 20px;
            }
            fa-icon:hover{
                color:#353535;
                font-size: 20px;
            }
            .divIcons{
               display: flex;
               align-items: center;
               
                fa-icon{
                    padding-right: 10px;
                    font-size: 25px;
                }
                .circle {
                    width: 30px; /* Largura do círculo */
                    height: 30px; /* Altura do círculo (igual à largura para ser um círculo) */
                    background-color: #686868; /* Cor de fundo */
                    border-radius: 50%; /* Faz o elemento ficar circular */
                    margin-bottom: 3px;
                    margin-left: 7px;
                    margin-right: 20px;
                    cursor: pointer;
                  }
            }
        }
    }
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 7px;
    color: #242424;

    .divTitleContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
        padding: 5px;
        margin-right: 15px;
        h2{
            font-size: 30px;
        }
        .divFilter{
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
        .divFilter:hover{
            background-color: #f0f0f0;
            

        }
        
    }

    /* Contêiner principal para as divisões */
    .containerGrid {
        display: flex;
        justify-content: space-between;
        /* Espaçamento uniforme entre as divisões */
        gap: 0px;
        /* Espaçamento adicional entre os itens */
        padding: 10px;

        fa-icon:hover{
            color:#a80000;
            font-size: 20px;
        }
        /* Estilização individual para as divisões */
        .divisaoEtapa {
            flex: 1;
            /* Permite que cada divisão ocupe o mesmo espaço */
            max-width: 320px;
            /* Largura máxima para evitar que ocupem todo o espaço */
            background-color: #EEF2F5;
            /* Cor de fundo para destaque */
            border-radius: 15px;
            /* Cantos arredondados */
            padding: 10px;

            .divTitleDivisaoEtapa {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 20px;

                /* Espaçamento interno */
                .titleDivisaoEtapa {
                    font-size: 18px;
                    font-weight: bold;
                    padding-left: 20px;
                    padding-right: 10px;
                }

                fa-icon {
                    font-size: 15px;
                    padding: 10px;
                }
            }



           
        }
    }
}