.container{
    width: 100%;
    height: 100%;
    background-color:#fff;
    border-radius: 7px;
    color:#242424;
}
.button{
    border: 1px solid;
    border-style: none;
    border-radius: 10px;
    width:45px;
    height:20px;
    margin-top:10px
}
    
.editarbtn{
    background-color:#00B526;
    margin-right:5px
}
    
.excluirbtn{
    background-color:#FF0000
}
    
    
